<p id="notice"><%= notice %></p>
<div class="links">
    <a href="http://[::1]:3000">Home</a>
    <a href="http://[::1]:3000/articles">Articles</a>
    <a href="http://[::1]:3000/resources">Resources</a>
    <a href="/">Community</a>
    <a href="/">Contact Us</a>
    <a href="/">FAQs</a>
</div>

<h1>Communities</h1>

<h3>Ask questions or share coding tips to ruby on rails community.</h3>


<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= community.question %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_community_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ask Questions', new_community_path %>
